db.sqlite3
invoice/__pycache__
api/__pycache__
api/migrations
people/__pycache__
people/migrations
tax/__pycache__
tax/migrations
proof/__pycache__
proof/migrations
printer/__pycache__
printer/migrations